<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
	<appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<File name="file" fileName="/tmp/ddi-services.dev.log">
			<PatternLayout
				pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</appenders>

	<loggers>
		<root level="INFO">
			<appender-ref ref="console" level="INFO" />
			<appender-ref ref="file" level="INFO" />
		</root>
		<logger name="org.apache.commons.httpclient">
			<level value="fatal" />
		</logger>

		<logger name="httpclient.wire.header">
			<level value="fatal" />
		</logger>

		<logger name="httpclient.wire.content">
			<level value="fatal" />
		</logger>

		<logger name="org.elasticsearch" level="INFO" />

	</loggers>
</configuration>